{% extends "LearningLogs/base.html" %}

{% block header %}
    <h1>Public Entries for {{ entry.topic}}</h1>

{% endblock header %}



{% block content %}
    {% for entry in entries %}

                     <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ entry.topic}}
            <h6 >
                <small>
                    {{ entry.date_added }}
                </small>

            </h6>
        </h3>
      </div>
                     <div class="panel-boady">
        {{ entry.text|slice:":100" }}
      </div>
       </div>

                {% endfor %}







{% endblock content %}

