{% extends 'LearningLogs/base.html' %}

{% block header %}
<h2><a href="{% url 'LearningLogs:topics' %}">Topics - </a>{{ topic }}</h2>
{% endblock header %}

{% block content %}

  <p>
    <a href="{% url 'LearningLogs:new_entry' topic.slug %}">add new entry</a>
  </p>
  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ entry.date_added|date:'M d, Y H:i' }}
          <small>
            <a href="{% url 'LearningLogs:edit_entry' entry.id %}">Edit entry</a>
          </small>
        </h3>
      </div>
      <div class="panel-boady">
        {{ entry.text|linebreaks }}

          {% for comment in comments %}

              {% if comment.entry == entry %}
                   <div class="panel panel-info">
                   <div class="panel-heading">

                       <h6>Commented by {{ comment.owner }}</h6>
                   </div>
                  <div class="panel-boady">
              <h5>{{ comment.text }}</h5>
                  </div>
                   </div>

              {% endif %}
              {% empty %}
              {% endfor %}
      </div>
    </div>
  {% empty %}
      There are no entries for this topic yet.
  {% endfor %}
{% endblock content %}
